# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.build/
dist/
.eggs/
*.egg-info/
.venv/
venv/
.env
.env.*
.envrc
.pytest_cache/

# Editors
.vscode/
.idea/

# OS
.DS_Store

# Node
node_modules/

# App
config/firebase_cred.json
