# python -m pip install -r requirements.txt

fastapi
uvicorn
jinja2
python-multipart
opencc
sentence_transformers
firebase-admin
google-cloud-firestore
python-dotenv
fastapi[standard]
opencv-python
scikit-image
numpy==1.26.4
tensorflow==2.19.1
keras==3.11.3
bcrypt